/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
#loginHeader {
    float: right;
    color: #fff;
}

a{

}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 90%;
}

.buttons {
    background-color: #efefef;
    overflow: hidden;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
    margin: 0.7em 0 0 0;
    border: none;
    border-radius: 40px;
    margin:5px;
}

.buttons input,
.buttons a {
    background-color: transparent;
    border: 0;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0;
    overflow: visible;
    padding: 0.25em 0.7em;
    text-decoration: none;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
}

.buttons .delete {
    background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
    background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
    background-image: url(../images/skin/database_save.png);
}

.navbar-default, .navbar-static-top {
    background-color: #7986EB;
    border: 20px;
}
.grails-logo-container {
    background:#60F6E5 no-repeat 50% 30%;
    margin-bottom: 50px;
    color: white;
    height:350px;
    text-align:center;
}

#facebook {
    font-weight: bolder;
    background-color:#2E2EFE;
    font-style: bold;
    color:#FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    background:  #7986EB;
    color: #000;
    clear: both;
    font-size: 0.8em;
    margin-top: 1.5em;
    padding: 1em;
    min-height: 1em;
}

.footer a {
    color: #4D8618;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 3px;
}

img {
    border: 10px;
    border-radius: 10px;
}

img.grails-logo {
    height:340px;
    margin-top:-10px;
    border-radius: 10px;
}

#spacebuttton{
    margin-left: 10px;
    margin-right: 10px;
}

#todoConteudo{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 3px;
    background: #DCD6D6;
    border-radius: 10px;
    display: table; 
    bottom:0;
    border-width: 10px;
    border-color:  #7986EB;
}
#telaInteira{
    min-height:100%;
    position:relative;
    width:800px;
}
html, body {height:100%;}



.background {
    position: absolute;
    top:0;
    left: 0;
    height:100%;
    width: 100%;
    background-color: #000000;
    opacity: .100; 
    -moz-opacity:.0;
    filter:alpha(opacity=0);
    z-index: 0;
    display: none;

}

.box{
    position: absolute;
    top: 0%;
    left: 30%;
    width: 600px;
    height: 780px;
    background-color: #FFFFFF;
    z-index: 101;
    padding: 14px;
    border-radius: 4px;
    -moz-border-radius:4px;
    webkit-border-radius:4px;
    box-shadow:2px 2px 2px 2px #333333;
    -moz-box-shadow: 2px 2px 2px 2px #333333;
    box-shadow: 2px 2px 2px 2px #333333;
    -moz-box-shadow: 2px 2px 2px 2px #333333;
    display: none;
}
.close{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
th:hover, tr:hover {
    background: #7986EB;
}
